<%- include("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <h1>欢迎！</h1>
        <p>在这里你可以预览世界各地的景点</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">添加足迹</a>
        </p>
    </header>
    <div class="container">
        <div class="row text-center">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-lg-4 col-md-6">
                    <div class="card" style="width: 18rem;">
                        <img src="<%= campground.image %>" class="card-img-top">
                        <div class="card-body">
                            <h4><%= campground.name %></h4>
                            <a href="/campgrounds/<%=campground._id%> " class="btn btn-primary">更多信息</a>
                        </div>
                    </div>
                </div> 
            <% }); %>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>